@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

html{
    background:whitesmoke;
}

nav{
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width:130px;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    font-family: 'Rubik', sans-serif;
    color:white;
}

#iconDiv{
    margin-top:50vh;
    transform: translateY(-50%);
    display:flex;
    height:40vh;
    flex-direction: column;
    justify-content: space-between;
}

nav h2{
    display: block;
    text-align: center;
    margin:20px auto 0 auto;
}

#wrapper{
    width:calc(100% - 180px);
    /* background:pink; */
    min-height: 100vh;
    margin-left:180px;
}
#wrapper img{
    display: block;
    margin:auto;
    height:200px;
    width:auto;
}

.icon{
    cursor: pointer;
    position: relative;
    text-align: center;
    font-size:13pt;
    width:35%;
    margin:0 auto 0 auto;
}

.icon:hover .iconDescription{
    color:rgba(50,50,50, 1);
    background:rgba(255,255,255, 1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); 
}

.icon:hover .iconDescription::after{
    border-right-color:rgba(255,255,255, 1); 
}

.iconDescription{
    text-transform: uppercase;
    display:block;
    color:rgba(50,50,50, 0);
    padding:15px 25px 15px 25px;
    background:rgba(255,255,255, 0);
    position: absolute;
    top:-17px;
    left:70px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0); 
    pointer-events: none;
    transition: color ease 0.2s, background ease 0.2s;
}

/* The arrow pointing to the icons */
.icon .iconDescription::after{
    position: absolute;
    left:-20px;
    content:'';
    border:10px solid transparent;
    border-right-color:rgba(255,255,255, 0);
    transition: border-right-color ease 0.2s;
}
